<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>coin_silver_06.png</key>
		<dict>
			<key>x</key>
			<integer>284</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>width</key>
			<integer>29</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_bronze_05.png</key>
		<dict>
			<key>x</key>
			<integer>254</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>width</key>
			<integer>29</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_gold_08.png</key>
		<dict>
			<key>x</key>
			<integer>359</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>width</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_silver_07.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>-3.0</real>
			<key>width</key>
			<integer>44</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_gold_01.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>width</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_bronze_06.png</key>
		<dict>
			<key>x</key>
			<integer>284</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>width</key>
			<integer>29</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_silver_08.png</key>
		<dict>
			<key>x</key>
			<integer>359</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>width</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_gold_04.png</key>
		<dict>
			<key>x</key>
			<integer>209</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-3.0</real>
			<key>width</key>
			<integer>44</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_bronze_07.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-3.0</real>
			<key>width</key>
			<integer>44</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_silver_01.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>width</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_silver_09.png</key>
		<dict>
			<key>x</key>
			<integer>421</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>width</key>
			<integer>69</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_gold_07.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-3.0</real>
			<key>width</key>
			<integer>44</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_bronze_08.png</key>
		<dict>
			<key>x</key>
			<integer>359</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>width</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_silver_02.png</key>
		<dict>
			<key>x</key>
			<integer>77</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>width</key>
			<integer>69</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_gold_03.png</key>
		<dict>
			<key>x</key>
			<integer>147</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>width</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_bronze_01.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>width</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_bronze_09.png</key>
		<dict>
			<key>x</key>
			<integer>421</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>width</key>
			<integer>69</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_silver_03.png</key>
		<dict>
			<key>x</key>
			<integer>147</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>width</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_gold_06.png</key>
		<dict>
			<key>x</key>
			<integer>284</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>width</key>
			<integer>29</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_bronze_02.png</key>
		<dict>
			<key>x</key>
			<integer>77</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>width</key>
			<integer>69</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_silver_04.png</key>
		<dict>
			<key>x</key>
			<integer>209</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>-3.0</real>
			<key>width</key>
			<integer>44</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_gold_09.png</key>
		<dict>
			<key>x</key>
			<integer>421</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>width</key>
			<integer>69</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_bronze_03.png</key>
		<dict>
			<key>x</key>
			<integer>147</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>width</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_gold_02.png</key>
		<dict>
			<key>x</key>
			<integer>77</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>width</key>
			<integer>69</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_silver_05.png</key>
		<dict>
			<key>x</key>
			<integer>254</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>width</key>
			<integer>29</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_bronze_04.png</key>
		<dict>
			<key>x</key>
			<integer>209</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-3.0</real>
			<key>width</key>
			<integer>44</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>coin_gold_05.png</key>
		<dict>
			<key>x</key>
			<integer>254</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>width</key>
			<integer>29</integer>
			<key>originalHeight</key>
			<integer>76</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>256</integer>
		<key>width</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>