<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>coin_silver_06.png</key>
		<dict>
			<key>x</key>
			<integer>93</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>15</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_bronze_05.png</key>
		<dict>
			<key>x</key>
			<integer>109</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>15</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_gold_08.png</key>
		<dict>
			<key>x</key>
			<integer>37</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>31</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_silver_07.png</key>
		<dict>
			<key>x</key>
			<integer>69</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_gold_01.png</key>
		<dict>
			<key>x</key>
			<integer>217</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_bronze_06.png</key>
		<dict>
			<key>x</key>
			<integer>93</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>15</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_silver_08.png</key>
		<dict>
			<key>x</key>
			<integer>37</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>31</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_gold_04.png</key>
		<dict>
			<key>x</key>
			<integer>125</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_bronze_07.png</key>
		<dict>
			<key>x</key>
			<integer>69</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_silver_01.png</key>
		<dict>
			<key>x</key>
			<integer>217</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_silver_09.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>width</key>
			<integer>35</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_gold_07.png</key>
		<dict>
			<key>x</key>
			<integer>69</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_bronze_08.png</key>
		<dict>
			<key>x</key>
			<integer>37</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>31</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_silver_02.png</key>
		<dict>
			<key>x</key>
			<integer>181</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>width</key>
			<integer>35</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_gold_03.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>31</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_bronze_01.png</key>
		<dict>
			<key>x</key>
			<integer>217</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_bronze_09.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>width</key>
			<integer>35</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_silver_03.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>31</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_gold_06.png</key>
		<dict>
			<key>x</key>
			<integer>93</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>15</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_bronze_02.png</key>
		<dict>
			<key>x</key>
			<integer>181</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>width</key>
			<integer>35</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_silver_04.png</key>
		<dict>
			<key>x</key>
			<integer>125</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_gold_09.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>width</key>
			<integer>35</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_bronze_03.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>31</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_gold_02.png</key>
		<dict>
			<key>x</key>
			<integer>181</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>width</key>
			<integer>35</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_silver_05.png</key>
		<dict>
			<key>x</key>
			<integer>109</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>15</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_bronze_04.png</key>
		<dict>
			<key>x</key>
			<integer>125</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>coin_gold_05.png</key>
		<dict>
			<key>x</key>
			<integer>109</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>width</key>
			<integer>15</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>128</integer>
		<key>width</key>
		<integer>256</integer>
	</dict>
</dict>
</plist>