<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>firebird_010.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetY</key>
			<real>0.5</real>
			<key>y</key>
			<integer>201</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>75</integer>
			<key>originalWidth</key>
			<integer>75</integer>
		</dict>
		<key>firebird_004.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetY</key>
			<real>0.5</real>
			<key>y</key>
			<integer>351</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>75</integer>
			<key>originalWidth</key>
			<integer>75</integer>
		</dict>
		<key>stage_birds_4.png</key>
		<dict>
			<key>x</key>
			<integer>196</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetY</key>
			<real>4.5</real>
			<key>y</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>40</integer>
		</dict>
		<key>firebird_007.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetY</key>
			<real>0.5</real>
			<key>y</key>
			<integer>276</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>75</integer>
			<key>originalWidth</key>
			<integer>75</integer>
		</dict>
		<key>stage_birds_9.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetY</key>
			<real>3.5</real>
			<key>y</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>firebird_000.png</key>
		<dict>
			<key>x</key>
			<integer>77</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetY</key>
			<real>0.5</real>
			<key>y</key>
			<integer>426</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>75</integer>
			<key>originalWidth</key>
			<integer>75</integer>
		</dict>
		<key>stage_birds_1.png</key>
		<dict>
			<key>x</key>
			<integer>106</integer>
			<key>height</key>
			<integer>54</integer>
			<key>offsetY</key>
			<real>4.0</real>
			<key>y</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>26</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>26</integer>
		</dict>
		<key>firebird_003.png</key>
		<dict>
			<key>x</key>
			<integer>77</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetY</key>
			<real>0.5</real>
			<key>y</key>
			<integer>351</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>75</integer>
			<key>originalWidth</key>
			<integer>75</integer>
		</dict>
		<key>stage_level_ready.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>34</integer>
			<key>originalWidth</key>
			<integer>120</integer>
		</dict>
		<key>stage_birds_6.png</key>
		<dict>
			<key>x</key>
			<integer>118</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetY</key>
			<real>2.5</real>
			<key>y</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>firebird_006.png</key>
		<dict>
			<key>x</key>
			<integer>77</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetY</key>
			<real>0.5</real>
			<key>y</key>
			<integer>276</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>75</integer>
			<key>originalWidth</key>
			<integer>75</integer>
		</dict>
		<key>stage_birds_3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetY</key>
			<real>4.5</real>
			<key>y</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>36</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>36</integer>
		</dict>
		<key>firebird_009.png</key>
		<dict>
			<key>x</key>
			<integer>77</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetY</key>
			<real>0.5</real>
			<key>y</key>
			<integer>201</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>75</integer>
			<key>originalWidth</key>
			<integer>75</integer>
		</dict>
		<key>stage_birds_8.png</key>
		<dict>
			<key>x</key>
			<integer>40</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetY</key>
			<real>3.5</real>
			<key>y</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>firebird_002.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetY</key>
			<real>1.0</real>
			<key>y</key>
			<integer>351</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>75</integer>
			<key>originalWidth</key>
			<integer>75</integer>
		</dict>
		<key>firebird_011.png</key>
		<dict>
			<key>x</key>
			<integer>172</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetY</key>
			<real>0.5</real>
			<key>y</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>75</integer>
			<key>originalWidth</key>
			<integer>75</integer>
		</dict>
		<key>stage_birds_0.png</key>
		<dict>
			<key>x</key>
			<integer>133</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetY</key>
			<real>2.5</real>
			<key>y</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>firebird_005.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetY</key>
			<real>0.5</real>
			<key>y</key>
			<integer>276</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>75</integer>
			<key>originalWidth</key>
			<integer>75</integer>
		</dict>
		<key>stage_level_level.png</key>
		<dict>
			<key>x</key>
			<integer>122</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>99</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>99</integer>
		</dict>
		<key>stage_level_start.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>139</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>139</integer>
		</dict>
		<key>stage_birds_5.png</key>
		<dict>
			<key>x</key>
			<integer>157</integer>
			<key>height</key>
			<integer>54</integer>
			<key>offsetY</key>
			<real>3.0</real>
			<key>y</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>stage_birds_10.png</key>
		<dict>
			<key>x</key>
			<integer>77</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetY</key>
			<real>-3.0</real>
			<key>y</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>28</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>28</integer>
		</dict>
		<key>firebird_008.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetY</key>
			<real>1.0</real>
			<key>y</key>
			<integer>201</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>75</integer>
			<key>originalWidth</key>
			<integer>75</integer>
		</dict>
		<key>firebird_001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetY</key>
			<real>0.5</real>
			<key>y</key>
			<integer>426</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>75</integer>
			<key>originalWidth</key>
			<integer>75</integer>
		</dict>
		<key>stage_birds_2.png</key>
		<dict>
			<key>x</key>
			<integer>38</integer>
			<key>height</key>
			<integer>55</integer>
			<key>offsetY</key>
			<real>3.5</real>
			<key>y</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
		<key>stage_birds_7.png</key>
		<dict>
			<key>x</key>
			<integer>79</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetY</key>
			<real>3.0</real>
			<key>y</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>62</integer>
			<key>originalWidth</key>
			<integer>38</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>512</integer>
		<key>width</key>
		<integer>256</integer>
	</dict>
</dict>
</plist>