<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>firebird_010.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetY</key>
			<real>1.5</real>
			<key>y</key>
			<integer>395</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
			<key>originalWidth</key>
			<integer>150</integer>
		</dict>
		<key>firebird_004.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetY</key>
			<real>1.5</real>
			<key>y</key>
			<integer>691</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
			<key>originalWidth</key>
			<integer>150</integer>
		</dict>
		<key>stage_birds_4.png</key>
		<dict>
			<key>x</key>
			<integer>383</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetY</key>
			<real>9.5</real>
			<key>y</key>
			<integer>134</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>width</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>124</integer>
			<key>originalWidth</key>
			<integer>80</integer>
		</dict>
		<key>firebird_007.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetY</key>
			<real>1.5</real>
			<key>y</key>
			<integer>543</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
			<key>originalWidth</key>
			<integer>150</integer>
		</dict>
		<key>stage_birds_9.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetY</key>
			<real>6.5</real>
			<key>y</key>
			<integer>134</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>124</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>firebird_000.png</key>
		<dict>
			<key>x</key>
			<integer>152</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetY</key>
			<real>1.5</real>
			<key>y</key>
			<integer>839</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
			<key>originalWidth</key>
			<integer>150</integer>
		</dict>
		<key>stage_birds_1.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetY</key>
			<real>8.0</real>
			<key>y</key>
			<integer>247</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>124</integer>
			<key>originalWidth</key>
			<integer>52</integer>
		</dict>
		<key>firebird_003.png</key>
		<dict>
			<key>x</key>
			<integer>152</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetY</key>
			<real>1.5</real>
			<key>y</key>
			<integer>691</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
			<key>originalWidth</key>
			<integer>150</integer>
		</dict>
		<key>stage_level_ready.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>y</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>68</integer>
			<key>originalWidth</key>
			<integer>240</integer>
		</dict>
		<key>stage_birds_6.png</key>
		<dict>
			<key>x</key>
			<integer>230</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetY</key>
			<real>5.5</real>
			<key>y</key>
			<integer>134</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>width</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>124</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>firebird_006.png</key>
		<dict>
			<key>x</key>
			<integer>152</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetY</key>
			<real>1.5</real>
			<key>y</key>
			<integer>543</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
			<key>originalWidth</key>
			<integer>150</integer>
		</dict>
		<key>stage_birds_3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetY</key>
			<real>8.5</real>
			<key>y</key>
			<integer>247</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>124</integer>
			<key>originalWidth</key>
			<integer>72</integer>
		</dict>
		<key>firebird_009.png</key>
		<dict>
			<key>x</key>
			<integer>152</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetY</key>
			<real>1.5</real>
			<key>y</key>
			<integer>395</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
			<key>originalWidth</key>
			<integer>150</integer>
		</dict>
		<key>stage_birds_8.png</key>
		<dict>
			<key>x</key>
			<integer>78</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetY</key>
			<real>6.5</real>
			<key>y</key>
			<integer>134</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>124</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>firebird_002.png</key>
		<dict>
			<key>x</key>
			<integer>303</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetY</key>
			<real>2.0</real>
			<key>y</key>
			<integer>691</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
			<key>originalWidth</key>
			<integer>150</integer>
		</dict>
		<key>firebird_011.png</key>
		<dict>
			<key>x</key>
			<integer>336</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetY</key>
			<real>1.5</real>
			<key>y</key>
			<integer>247</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
			<key>originalWidth</key>
			<integer>150</integer>
		</dict>
		<key>stage_birds_0.png</key>
		<dict>
			<key>x</key>
			<integer>259</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetY</key>
			<real>5.5</real>
			<key>y</key>
			<integer>247</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>124</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>firebird_005.png</key>
		<dict>
			<key>x</key>
			<integer>303</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetY</key>
			<real>1.5</real>
			<key>y</key>
			<integer>543</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
			<key>originalWidth</key>
			<integer>150</integer>
		</dict>
		<key>stage_level_level.png</key>
		<dict>
			<key>x</key>
			<integer>242</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>197</integer>
			<key>originalHeight</key>
			<integer>63</integer>
			<key>originalWidth</key>
			<integer>197</integer>
		</dict>
		<key>stage_level_start.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>278</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>278</integer>
		</dict>
		<key>stage_birds_5.png</key>
		<dict>
			<key>x</key>
			<integer>306</integer>
			<key>height</key>
			<integer>107</integer>
			<key>offsetY</key>
			<real>5.5</real>
			<key>y</key>
			<integer>134</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>124</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>stage_birds_10.png</key>
		<dict>
			<key>x</key>
			<integer>202</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetY</key>
			<real>-6.0</real>
			<key>y</key>
			<integer>247</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>56</integer>
			<key>originalHeight</key>
			<integer>124</integer>
			<key>originalWidth</key>
			<integer>56</integer>
		</dict>
		<key>firebird_008.png</key>
		<dict>
			<key>x</key>
			<integer>303</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetY</key>
			<real>2.0</real>
			<key>y</key>
			<integer>395</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
			<key>originalWidth</key>
			<integer>150</integer>
		</dict>
		<key>firebird_001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetY</key>
			<real>1.5</real>
			<key>y</key>
			<integer>839</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
			<key>originalWidth</key>
			<integer>150</integer>
		</dict>
		<key>stage_birds_2.png</key>
		<dict>
			<key>x</key>
			<integer>74</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetY</key>
			<real>7.0</real>
			<key>y</key>
			<integer>247</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>124</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
		<key>stage_birds_7.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetY</key>
			<real>6.0</real>
			<key>y</key>
			<integer>134</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>124</integer>
			<key>originalWidth</key>
			<integer>76</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>1024</integer>
		<key>width</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>