<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Blackhole_013.png</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_007.png</key>
		<dict>
			<key>x</key>
			<integer>304</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_018.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_010.png</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>304</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_004.png</key>
		<dict>
			<key>x</key>
			<integer>304</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>405</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_015.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>304</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_009.png</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>405</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_021.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_001.png</key>
		<dict>
			<key>x</key>
			<integer>405</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_012.png</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_006.png</key>
		<dict>
			<key>x</key>
			<integer>304</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_017.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_023.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_003.png</key>
		<dict>
			<key>x</key>
			<integer>405</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_014.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>405</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_008.png</key>
		<dict>
			<key>x</key>
			<integer>304</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_019.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>405</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_020.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>304</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_000.png</key>
		<dict>
			<key>x</key>
			<integer>405</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>304</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_011.png</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_005.png</key>
		<dict>
			<key>x</key>
			<integer>304</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>304</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_016.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_022.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
		<key>Blackhole_002.png</key>
		<dict>
			<key>x</key>
			<integer>405</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetY</key>
			<real>0.0</real>
			<key>y</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>width</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>512</integer>
		<key>width</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>