<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage_gameover_num1_0@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>stage_gameover_num1_1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{11,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,26}}</string>
                <key>sourceSize</key>
                <string>{11,28}</string>
            </dict>
            <key>stage_gameover_num1_2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,84},{19,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>stage_gameover_num1_3@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,23},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>stage_gameover_num1_4@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>stage_gameover_num1_5@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,63},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>stage_gameover_num1_6@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,43},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>stage_gameover_num1_7@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>stage_gameover_num1_8@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,23},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>stage_gameover_num1_9@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage_gameover_num1@2x.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59a1b5d35d154f949dfe65c4b9347cb3$</string>
            <key>textureFileName</key>
            <string>stage_gameover_num1@2x.png</string>
        </dict>
    </dict>
</plist>
