<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage_menubar_score_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,10}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>stage_menubar_score_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{5,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{5,10}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>stage_menubar_score_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,10}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>stage_menubar_score_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,22},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,10}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>stage_menubar_score_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,10}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>stage_menubar_score_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,12},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,10}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>stage_menubar_score_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,12},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,10}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>stage_menubar_score_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,41},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{7,10}}</string>
                <key>sourceSize</key>
                <string>{9,12}</string>
            </dict>
            <key>stage_menubar_score_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,32},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{7,10}}</string>
                <key>sourceSize</key>
                <string>{9,12}</string>
            </dict>
            <key>stage_menubar_score_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,2},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,10}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage_menubar_score.png</string>
            <key>size</key>
            <string>{32,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c0f1e71ade7f8610761c8d42c9c86aa$</string>
            <key>textureFileName</key>
            <string>stage_menubar_score.png</string>
        </dict>
    </dict>
</plist>
